.btn {
	padding: 10px 20px 10px 20px;
	background-color: rgb(255, 255, 255);
	border-radius: 8px;
	transition: color 0.25s;
	margin-top: 40px;
	margin-right: 10px;
	text-decoration: none;
	color: black;
	border: solid 3px;
}

.btn:hover {
	transition: 0.2s;
	color: rgb(177, 4, 4);
	background-color: rgb(247, 167, 167);
}

.movie_page_container {
	margin-left: 40px;
	margin-top: 40px;
}
.movie_details_box {
	gap: 15px;
	margin-top: 20px;
}

.movie_image {
	display: flex;
	justify-content: flex-start;
	height: 400px;
	width: auto;
	object-fit: cover;
}

.movie_descr {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	text-align: left;
}

.add_descr {
	display: flex;
	gap: 10px;
}

.strong {
	font-weight: 700;
}
