.navigation {
	display: flex;
	justify-content: flex-start;
}
.active {
	color: rgb(177, 4, 4);
}
.link {
	text-decoration: none;
	font-size: 30px;
	margin: 40px 2% 10px 2%;
}
.link:hover {
	border-bottom: solid 2px;
	color: rgb(177, 4, 4);
}

link:visited {
	text-decoration: none;
}
